<div class="page-header">
  <h1>Sorry! No such page!</h1>
</div>

<div class="container">
  <div class="row">
      <p><%= link_to "Go to the home page", "/" %></p>
      <p><%= link_to "Browse all loan requests", "/browse" %></p>
      <p><%= link_to "View your cart", "/cart" %></p>
  </div> <!-- row -->
</div> <!-- container -->
