<div class="page-header">
  <h1><%= @category.title %></h1>
</div>

<div class="container">
  <div class="row">
      <p><%= @category.description %></p>
  </div> <!-- row -->
</div> <!-- container -->
